<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attraction</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body onload="showList(0)">

<section data-bs-version="5.1" class="menu menu6 cid-uFj3Kr0xfY" once="menu" id="menu06-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="img/2022.png" alt="Logo" style="height: 4rem;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/attraction">Attraction</a></li>
                    <li class="nav-item"><a class="nav-link" href="/address">Address</a></li>
                    <li class="nav-item"><a class="nav-link" href="/service">Service</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ticket-info">Ticket Info</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<div class="container mt-5 pt-5">
    <h1 class="text-center mb-5">List of Attractions</h1>

    <div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
            <label for="count_1" class="form-label">Items per page:</label>
            <select name="count_1" id="count_1" class="form-select" onchange="showList(0)">
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div>
        <div id="paging_buttons" class="text-center">Pages:</div>
    </div>

    <div id="attractions_list">
        <div class="row" id="attraction_card_container"></div>
    </div>

    <hr>

    <div class="mb-4">
        <h2 class="text-center mb-4">Filter Attractions</h2>
        <form id="filter_form" class="filter-form">
            <div class="row gx-3">
                <div class="col-md-3 mb-3">
                    <label for="filter_id" class="form-label">ID:</label>
                    <input class="form-control" type="text" id="filter_id" name="id" maxlength="36" placeholder="ID">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="filter_name" class="form-label">Name:</label>
                    <input class="form-control" type="text" id="filter_name" name="name" maxlength="30" placeholder="Name">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="filter_description" class="form-label">Description:</label>
                    <input class="form-control" type="text" id="filter_description" name="description" maxlength="100" placeholder="Description">
                </div>
                <div class="col-md-3 mb-3">
                    <label for="filter_type" class="form-label">Type:</label>
                    <select class="form-select" id="filter_type" name="type">
                        <option value="">Any</option>
                        <option value="ARCHAEOLOGICAL_SITE">Archaeological site</option>
                        <option value="LANDMARK">Landmark</option>
                        <option value="MUSEUM">Museum</option>
                        <option value="PALACE">Palace</option>
                        <option value="PARK">Park</option>
                        <option value="RESERVE">Reserve</option>
                        <option value="CULTURAL">Cultural</option>
                        <option value="ENTERTAINMENT">Entertainment</option>
                        <option value="GOVERNMENT">Government</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-secondary d-flex align-items-center px-3 custom-filter-btn" onclick="showList(0)">
                    <img src="/img/filter.png" alt="Filter" style="width: 16px; height: 16px; margin-right: 5px;"> Apply Filter
                </button>
                <button type="button" class="btn btn-secondary d-flex align-items-center px-3" onclick="clearFilters()">
                    <img src="/img/reset.png" alt="Reset" style="width: 16px; height: 16px; margin-right: 5px;"> Reset Filters
                </button>
            </div>

            <script>
                function clearFilters() {
                    $("#filter_form").trigger("reset");
                    showList(0);
                }
            </script>
        </form>
    </div>

    <hr>

    <h2>Create a New Attraction</h2>
    <form id="create_attraction_form">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="input_name_new" class="form-label">Name:</label>
                <input class="form-control" type="text" id="input_name_new" name="name" required maxlength="30" placeholder="Name">
            </div>
            <div class="col-md-4 mb-3">
                <label for="input_description_new" class="form-label">Description:</label>
                <input class="form-control" type="text" id="input_description_new" name="description" required maxlength="50" placeholder="Description">
            </div>
            <div class="col-md-4 mb-3">
                <label for="input_type_new" class="form-label">Type:</label>
                <select class="form-select" type="text" id="input_type_new" name="type" required>
                    <option value="ARCHAEOLOGICAL_SITE">Archaeological site</option>
                    <option value="LANDMARK">Landmark</option>
                    <option value="MUSEUM">Museum</option>
                    <option value="PALACE">Palace</option>
                    <option value="PARK">Park</option>
                    <option value="RESERVE">Reserve</option>
                    <option value="CULTURAL">Cultural</option>
                    <option value="ENTERTAINMENT">Entertainment</option>
                    <option value="GOVERNMENT">Government</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="select_address" class="form-label">Address:</label>
                <select class="form-select" id="select_address" name="address" required></select>
            </div>
            <div class="col-md-6 mb-3">
                <a href="/address"><button type="button" class="btn btn-outline-primary mt-4">Add New Address</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="select_ticket_info" class="form-label">Ticket Info:</label>
                <select class="form-select" id="select_ticket_info" name="ticketInfo"></select>
            </div>
            <div class="col-md-6 mb-3">
                <a href="/ticket-info"><button type="button" class="btn btn-outline-primary mt-4">Add New Ticket Info</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="checkbox_services" class="form-label">Service:</label>
                <div id="checkbox_services" class="form-check d-flex flex-wrap gap-3"></div>
            </div>
            <div class="col-md-6 mb-3">
                <a href="/service"><button type="button" class="btn btn-outline-primary mt-4">Add New Service</button></a>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success" onclick="createAttraction(event);" style="margin-bottom: 20px;">
                <img src="/img/save.png" alt="Save" style="width: 20px;"> Create Attraction
            </button>

        </div>
    </form>
</div>

<script>
    let currentPage = 0;

    function showList(page_number) {
        currentPage = page_number;

        let url = "/api/attraction?";
        let countPerPage = $("#count_1").val();
        url = url.concat("pageSize=").concat(countPerPage);
        url = url.concat("&pageNumber=").concat(page_number);

        // Добавляем фильтры
        let filter_id = $("#filter_id").val();
        let filter_name = $("#filter_name").val();
        let filter_description = $("#filter_description").val();
        let filter_type = $("#filter_type").val();

        if (filter_id) url += "&id=" + encodeURIComponent(filter_id);
        if (filter_name) url += "&name=" + encodeURIComponent(filter_name);
        if (filter_description) url += "&description=" + encodeURIComponent(filter_description);
        if (filter_type !== "") url += "&type=" + encodeURIComponent(filter_type);

        $.get(url, function (response) {
            $('#attraction_card_container').empty();

            $.each(response, function (i, item) {
                let attractionCard = `
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">${item.name}</h5>
                        <p class="card-text">
                            <strong>Type:</strong> ${item.type}<br>
                            <strong>Description:</strong> ${item.description}<br>
                            <strong>Address:</strong> ${item.address}<br>
                            <strong>Ticket Info:</strong> ${item.ticketInfo}<br>
                            <strong>Services:</strong> ${item.services ? item.services.join(", ") : "No Services"}<br>
                        </p>
                        <button class="btn btn-warning" onclick="editAttraction('${item.id}')">Edit</button>
                        <button class="btn btn-danger" onclick="deleteAttraction('${item.id}')">Delete</button>
                    </div>
                </div>
            </div>`;
                $('#attraction_card_container').append(attractionCard);
            });

            getTotalCount().then(totalCount => {
                let pagesCount = Math.ceil(totalCount / countPerPage);
                updatePagination(pagesCount, page_number);
            });
        });
    }

    function updatePagination(pagesCount, currentPage) {
        $('#paging_buttons').empty();

        if (currentPage >= pagesCount) {
            currentPage = pagesCount - 1;
        }

        for (let i = 0; i < pagesCount; i++) {
            let button = $("<button></button>")
                .addClass("btn m-1")
                .addClass(i === currentPage ? "btn-primary" : "btn-light")
                .text(i + 1)
                .click(() => showList(i));

            $('#paging_buttons').append(button);
        }
    }

    function getTotalCount() {
        return $.get("/api/attraction/count").then((result) => parseInt(result));
    }

    function createAttraction(event) {
        event.preventDefault();

        let name = $("#input_name_new").val().trim();
        let description = $("#input_description_new").val().trim();
        let type = $("#input_type_new").val();
        let address = $("#select_address").val();
        let ticketInfo = $("#select_ticket_info").val();
        let serviceIds = [];
        $('input[name="service"]:checked').each(function () {
            serviceIds.push($(this).val());
        });

        if (!name || !description || !type || !address || !ticketInfo) {
            alert("Please fill in all required fields!");
            return;
        }

        let formData = {
            name: $("#input_name_new").val(),
            description: $("#input_description_new").val(),
            type: $("#input_type_new").val(),
            addressId:$("#select_address").val(),
            ticketInfoId: $("#select_ticket_info").val(),
            serviceIds: serviceIds
        };

        console.log("Selected Address ID: ", address);
        console.log("Selected Ticket Info ID: ", ticketInfo);
        console.log("Selected Service ID: ", serviceIds);

        $.ajax({
            url: "/api/attraction",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function () {
                showList(0);
            }
        });
    }

    function deleteAttraction(id) {
        let url = "/api/attraction/" + id;
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function () {
                showList(currentPage);
            }
        });
    }

    function editAttraction(id) {
        $.get(`/api/attraction/${id}`, function (attraction) {
            let formHtml = `
            <h2>Edit Attraction</h2>
            <form id="edit_attraction_form">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="input_name_edit" class="form-label">Name:</label>
                        <input class="form-control" type="text" id="input_name_edit" name="name" value="${attraction.name}" required maxlength="30">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="input_description_edit" class="form-label">Description:</label>
                        <input class="form-control" type="text" id="input_description_edit" name="description" value="${attraction.description}" required maxlength="50">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="input_type_edit" class="form-label">Type:</label>
                        <input class="form-control" type="text" id="input_type_edit" name="type" value="${attraction.type}" required maxlength="30">
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success" style="margin-bottom: 20px;">Save Changes</button>
                </div>
            </form>
        `;

            $("#attraction_card_container").html(formHtml);

            $("#edit_attraction_form").submit(function (event) {
                event.preventDefault();

                let updatedData = {
                    name: $("#input_name_edit").val(),
                    description: $("#input_description_edit").val(),
                    type: $("#input_type_edit").val(),
                };

                $.ajax({
                    url: `/api/attraction/${id}`,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(updatedData),
                    success: function () {

                        showList(currentPage);
                    }
                });
            });
        });
    }

    function loadAddresses() {
        $.get("/api/address", function (addresses) {
            let selectAddress = $('#select_address');
            selectAddress.empty();
            $.each(addresses, function (i, address) {
                selectAddress.append(`<option value="${address.id}">${address.city}, ${address.street}, ${address.building}</option>`);
            });
        });
    }

    function loadTicketsInfo() {
        $.get("/api/ticket-info", function (ticketInfo) {
            let selectTicketInfo = $('#select_ticket_info');
            selectTicketInfo.empty();
            $.each(ticketInfo, function (i, ticketInfo) {
                selectTicketInfo.append(`<option value="${ticketInfo.id}">${ticketInfo.price}, ${ticketInfo.currency}, ${ticketInfo.availability}</option>`);
            });
        });
    }

    function loadService() {
        $.get("/api/service", function (services) {
            let checkboxContainer = $('#checkbox_services');
            checkboxContainer.empty();

            $.each(services, function (i, service) {
                let checkboxHtml = `
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="${service.id}" id="service_${service.id}" name="service">
                    <label class="form-check-label" for="service_${service.id}">${service.name}</label>
                </div>`;
                checkboxContainer.append(checkboxHtml);
            });
        });
    }

    $(document).ready(function () {
        loadAddresses();
        loadTicketsInfo();
        loadService()
    });

</script>

</body>
</html>
